.color-pane-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    gap: 10px;
}

.color-pane {
    min-width: 200px;
    width: fit-content;
    min-height: 300px;
    padding: 30px;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


