.color-pane-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    gap: 10px;
}

.color-pane {
    min-width: 200px;
    width: fit-content;
    min-height: 300px;
    padding: 30px;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px
}

span{
    color: inherit;
    font-weight: 500;
    font-size: .9rem;
    opacity: .6;
}


