.color-pane-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    gap: 10px;
}

.color-pane-container p {
    font-size: 1.1rem;
    font-weight: medium;
}

.color-pane {
    min-width: 200px;
    width: fit-content;
    min-height: 300px;
    padding: 30px;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.color-pane h6{
    font-size: 1.5rem;
    cursor: pointer;
    transition: .2s ease-out;
    padding: 10px;
    border-radius: 5px;
}

.color-pane h6:hover {
    background: #00000044;
}

