<div class="color-pane-container">

    <div [style.background-color]="color().hex" class="color-pane" [style.color]="textColor()">
        <span>{{ color().name }}</span>
    </div>

    <div class="color-codes-container">


        <div class="color-code">
            <span>HEX</span>
            <app-color-code-button variant="base-button">
                {{ color().hex }}
            </app-color-code-button>
        </div>

        <div class="color-code">
            <span>RGB</span>
            <app-color-code-button variant="base-button">
                rgb({{ color().rgb.red }}, {{ color().rgb.green }}, {{ color().rgb.blue }})
            </app-color-code-button>
        </div>
    </div>
</div>